

.cart{
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 0px;
    color: rgb(0, 0, 0);
   font-family:serif;
   
}

@media only screen and (max-width: 600px) {
    .cart{
        padding: 0px;
    }
   }