.footer{
    text-align: center;
    margin-top: 100px;
    padding-top: 70px;
    padding: 60px 50px 12px 50px;
    background: rgb(21, 224, 238);
    color: rgb(0, 0, 0);
    clip-path: polygon(100% 100%, 100% 70%, 20% 0%, 0% 50%, 0% 100%);
}